/** début css pour a propos */
.texte {
  display: inline-flex;
  flex-direction: row;
  margin: 8px;
  padding: 8px 10px;
  background-color: #f39c12;
  border-radius: 10px;
  max-width: 30%;
}

#auteurs {
  min-width: 155px;
  text-align: center;
}

#difficultes {
  min-width: 260px;
}

#lien-site {
  min-width: 200px;
}

.description {
  display: block;
  text-align: justify;
  margin: 0px 5px 5px 5px;
}

section {
  display: inline-block;
  flex-direction: column;
  max-width: 500px;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
}

#schema_index, #schema_livres {
  display: inline-block;
  padding: 5px;
  width: 400px;
  height: 370px;
}

.legende {
  display: inline-block;
  max-width: 380px;
  padding: 10px 10px;
  background-color: #f39c12;
  border-radius: 10px;
}

@media all and (max-width: 800px) {
  .texte {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding: 8px 10px;
    background-color: #f39c12;
    border-radius: 10px;
    min-width: 70%;
    vertical-align: top;
  }
}

/** fin css pour a propos */