body {
  background-color: #3e4a61;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

ul {
  list-style: none outside none;
}

.navbar {
  font-family: 'Open Sans';
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: #b2b1b1;
}

.nav-link:hover, #active {
  color: #19dafa !important;
}

#sous-titre, #title {
  text-align: center;
  padding: 1rem;
}

.image_descriptive {
  float: left;
  margin: 15px 15px;
  width: 35%;
  min-width: 300px;
}

.description {
  display: block;
  text-align: justify;
  margin: 0px 5px 5px 5px;
}

@media all and (max-width: 700px) {
  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    width: 85%;
    max-width: 500px;
  }

  .image_descriptive {
    float: top;
    width: 95%;
    min-width: 300px;
  }

  .description {
    text-align: left;
  }
}