.resume, .description {
    color: #919191;    
}

.figure_descriptive {
    margin: 0;
    padding-right: 10px;
    width: min-content;
    display: flex;
    flex-direction: column;
    float: left;
    text-align: center;
}

.image_descriptive {
    float: left;
    margin: 15px 15px;
    width: 35%;
    min-width: 300px;
  }

.description {
    margin: 0;
    width: 100%;    
    text-align: center;
}