body {
  background-color: gray;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  width: 238px;
  height: 35px;
}

ul#nav {
  display: flex;
  justify-content: center;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  padding: 1em;
}

ul#nav>li {
  width: auto;
  height: auto;
  padding: 1%;
  background-color: lightblue;
  border: solid 1px black;
}

ul#nav>li a:hover {
  background-color: #111;
}

p {
  padding: 0px 7px;
}

footer {
  padding: 0px 7px;
}