body {
  margin: 0;
  padding: 0;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #ffcc66;
  list-style: none outside none;
  padding: 0;
}

.navbar-item {
  flex-grow: 1;
}

.nav-link {
  text-decoration: none;
  color: black;
}

#small_icon_logo {
  display: block;
  width: 5%;
  padding: 0;
  margin: 0;
}