body {
  margin: 0;
  padding: 0;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #ffcc66;
  list-style: none outside none;
  background-image: url(../images/logo_large_true.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px, 18px;
}

.nav-link {
  text-decoration: none;
  color: black;
}