body {
  background-color: #3e4a61;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
  max-width: 500px;
}

ul {
  list-style: none outside none;
}

.navbar {
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  background-color: #313a4b;
}

.nav-link, .footer-link {
  text-decoration: none;
  color: #c0bebe;
}

.nav-link:hover {
  color: #19dafa;
}

#active {
  color: #19dafa !important;
}

#title {
  text-align: center;
  padding: 1rem;
}

footer {
  background-color: #272e3a;
}

.footer-link {
  align-items: center;
}

@media all and (max-width: 700px) {
  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    width: 85%;
    max-width: 500px;
  }
  
}