.resume, .description {
  color: #919191;
  font-family: Verdana, sans-serif;
}

.description {
    color: #d6d0d0; 
}

.figure_descriptive {
    margin: 0;
    margin-right: 1rem;
    width: min-content;
    display: flex;
    flex-direction: column;
    float: left;
    text-align: center;
    border: solid;
    border-style: groove;
}

.description {
  margin: 0;
  width: 100%;
  text-align: center;
}

.image_descriptive {
  float: left;
  width: 100%;
  min-width: 300px;
}